.lm-body {
    color: aqua;
}

.lm-navtitle {
    color: aqua;
}

.lm-title {
    color: aqua;
}

.lm-button {
    background: yellowgreen;
    font-family: algerian;
}

.lm-seeAll {
    display: flex;
    justify-content: center;
    margin: 100px;
    letter-spacing: 2px;
    grid-column: inherit
}