body {
    background-color: darksalmon
}

.lm-body {
    color: aqua;
}

.lm-navtitle {
    color: aqua;
}

.lm-title {
    color: aqua;
}

.lm-button {
    background: yellowgreen;
    font-family: algerian;
    font-size: 30px;
}

.lm-seeAll {
    background: white;
    font-size: 20px;
    display: flex;
    justify-content: left;
    margin: 40px;
    letter-spacing: 2px;
    text-shadow: 0 1px 1px rgba(red, green, blue, alpha)
}